{% extends  'base.html' %}
{% block content %}

<h1>Confirm password reset</h1>



    <form id="frmConfirmPassword" action="{% url 'wishlist_app:confirm-password-reset' %}" method="POST">
        {% csrf_token %}

        <label>Username</label>
        <input type="text" name="username" placeholder="Username">
        <input type="text" name="token" hidden value="{{request.GET.token}}">
        <label>New Password</label>
        <input type="text" name="password" placeholder="Password">
        <label>Confirm New Password</label>
        <input type="text" name="confirm_password" placeholder="Confirm password">
        
        <button>Reset my password</button>

    </form>





{% endblock %}

