{% extends  'base.html' %}

{% block content %}




<h1 id="wishlistName">Wishlist Detail</h1>

{% comment %} <form id="frmDeleteWishlist">
    {% csrf_token %}
    <button class="deleteWishlist">Delete Wishlist</button>
</form> {% endcomment %}

<button class="updateWishlist">Update Wishlist Info</button>

<form id="frmUpdateWishlistInfo">
    {% csrf_token %}
    
</form>



<div class="addNewWish"><i class="fas fa-plus"></i></div>

<form id="frmAddNewWish">
    {% csrf_token %}

    <div class="frmAddNewWishInner">
    <h2>Add a new wish!</h2>
        {% comment %} <label>Title</label> {% endcomment %}
        <input placeholder="What is the title" name="title" type="text">
        {% comment %} <label>Description</label> {% endcomment %}
        <input placeholder="Come with a description for your wish ..." name="description" type="text">
        <button>Submit</button>
    </div>
</form>


<div id="wishesContainer">

</div>

<form id="frmUpdateWish">
{% csrf_token %}
<div class="frmContentUpdateWish">

</div>

<button>submit</button>
</form>


{% endblock %}
{% block script %}

    {% load static %}
    <script src="{% static 'js/mywishlistdetail.js' %}"></script>

{% endblock %}