{% extends  'base.html' %}
{% block content %}

<h1>Password Reset</h1>



<form id="passwordReset" method="POST" action="{% url 'wishlist_app:password-reset' %}">
    {% csrf_token %}

        <input type="text" name="username" placeholder="Username">
        <div>OR</div>
        <input type="email" name="email" placeholder="Email">

    <button>Submit</button>

    <ul class="error_message"></ul>
</form> 





{% endblock %}




{% comment %} {% block script %}

{% load static %}
    <script src="{% static 'js/password-reset.js' %}"></script>

{% endblock %} {% endcomment %}