{% extends  'base.html' %}

{% block content %}




<h1>Profile</h1>

<div class="updateBtnsWrapper">
<button class="updateBtn" style="display: block;">Update Account</button>

<button class="updatePasswordBtn">Change password</button>
</div>

<form id="frmUpdatePassword">
    <div class="createWishlistInnerFrm">

    <h1>What should your new password be?</h1>
            {% csrf_token %}

            <div class="inputArea">
                <input name="new_password1" type="text" placeholder="Password">
                <input name="new_password2" type="text" placeholder="Confirm password">
            </div>
            <button>Submit</button>
            <ul class="error_message"></ul>
    </div>
</form>

<div class="updateAccount">
    <form id="frmUpdateAccount">
        {% csrf_token %}

    </form>
</div>



<div id="dashboard">

    <div id="accountContainer">
    </div> 

    <div id="wishesIHaveReservedContainer">
        <h3>Wishes i have reserved</h3>


        <div class="wishReservedWrap">
        {% for rWish in myReservedWishes %}

        <div>
        <h4>{{rWish.title}}</h3>
        {{rWish.description}}
        <a href="{{rWish.userID}}/wishlist/{{rWish.wishlistID}}"><i class="fas fa-eye"></i><a>
        </div>

        {% endfor %}

        {% if error %}
            <p>{{error}}</p>
        {% endif %}

        </div>
    </div>

{% comment %} <div id="savedWishlists">
<h3>Wishlists i have favorited</h3>
</div> {% endcomment %}

</div>




<a href="{% url 'wishlist_app:delete-account' %}" id="deleteAccount">DELETE ACCOUNT</a>


{% endblock %}


{% block script %}

{% load static %}
    <script src="{% static 'js/profile.js' %}"></script>

    {% comment %} http://127.0.0.1:8000/accounts/rest-auth/user/ {% endcomment %}
    {% comment %} You can only change username, firstname, lastname {% endcomment %}
    {% comment %} Password change is on a new field {% endcomment %}

{% endblock %}