{% extends  'base.html' %}
{% block content %}

<h1>SEARCH</h1>

<form id="frmSearch">

</form>


- Search though users (API THAT GETS USER.pk AND USERNAME)<br> 
- A link to open a specifcs users profile, to see their public wishlists<br>
- Open a specific wishlist, and see all wishes <br>
- Follow/unfollow button <br>
- Reserve a wish / unreserve a wish button<br>

{% endblock %}




{% comment %} {% block script %} {% endcomment %}

{% comment %} {% load static %}
    <script src="{% static 'js/login.js' %}"></script>

{% endblock %} {% endcomment %}